@media (max-width: 380px) {
body {
    .font-text();
    text-align: center;
    padding: 0;
    margin: 0;
}
h2 {
  .font-title();
}

fieldset {
  border: none;
}
input {
  display: block;
  border: none;
  width: 200px;
  margin-left: 20px;
  margin: 15px;
  padding: 20px;
}
}

@media (max-width: 800px) and (min-width: 381px) {
body {
    .font-text();
    text-align: center;
    padding: 0;
    margin: 0;
}
h2 {
  .font-title();
}

fieldset {
  border: none;
}
input {
  border: none;
  margin: 0 auto;
  padding: 20px;
}
label {
  display: flex;
  flex-direction: row;
}
}
