@media (max-width: 380px) {
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 15px 15px;
    color: #fff;
    background-color: @color-blue;
    .font-btn();
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 50px;
}

.feedback__input--gray {
  background-color: @input-background;
}

.btn-social {
  display: inline-block;
  vertical-align: top;
  background-color: @color-blue;
  border: none;
  outline: none;
  margin-bottom: 40px;
width: 45px;
height: 45px;
  &__twitter {
    background: @color-blue url("../img/twr_icon.png")no-repeat center;
}
  &__facebook {
    background: @color-blue url("../img/fb_icon.png")no-repeat center;
}
  &__youtube {
    background: @color-blue url("../img/ytb_icon.png")no-repeat center;
}
}
}

@media (max-width: 800px) and (min-width: 381px) {
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 15px 15px;
    color: #fff;
    background-color: @color-blue;
    .font-btn();
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 50px;
    width: 460px;
    cursor: pointer;
}
.btn-social {
  display: inline-block;
  vertical-align: top;
  background-color: @color-blue;
  border: none;
  outline: none;
  margin-bottom: 40px;
width: 45px;
height: 45px;
  &__twitter {
    background: @color-blue url("../img/twr_icon.png")no-repeat center;
}
  &__facebook {
    background: @color-blue url("../img/fb_icon.png")no-repeat center;
}
  &__youtube {
    background: @color-blue url("../img/ytb_icon.png")no-repeat center;
}
}
}
